/*Colores*/

/*Colores background*/
$color-bg-banner: #d7dfe2;
$color-bg-body: #ffffff;

/*Colores textos*/
$color-txt-logo: #3a626d;
$color-txt-black: #292929;
$color-txt-full-black: black;
$color-txt-grey: #818080;



